body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 80px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 10px 0 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}
